@font-face{
    font-family: 'Open Sans';
   src: url(Open_Sans.ttf);    
}
body {
    margin: 0;
    text-align: center;
    min-height: 100vh;
    background-color: #2e3440;
    color:white;
    font-family: "Open Sans";
    font-size:small;
    overflow: hidden;
    font-weight: lighter;
}
.title{
    background-color: #2b3039;
    padding:8px;
    font-family: 'Open Sans';
    font-size:smaller;
    text-align: left;
    margin-bottom: 0;
    -webkit-app-region:drag;
}

.body{
    font-weight: 300;

    margin: 0;
    display: flex;
    justify-content:flex-start;

}
.sidebar{
    min-height:100vh;
    background-color:#2b2f35 ;
}
ul {
    background-color: #2b2f35;
    list-style-type: none;
    margin:0;
    padding:0;
}
.option{
    margin:2px;
    font-size: small;
    text-align: left;
    border-radius: 2px;
    padding: 10px 34px 10px 15px;
    transition: background-color 0.25s;
    border-radius: 2px;
}
.option:hover,button:hover{
    background-color: #21252d;
}

.form{
        width: 200px;
        text-align: center;
        height: 200px;
        position: absolute;
        left: 55%;
        margin-left: -100px;
        top: 40%;
        margin-top: -100px;
        display:none;
}
label{
    font-size: medium;    
}
input:focus{
    outline: none;
}
input{
    margin-top:10px;
    border:none;
    background-color: #2b2f35;
    color:white;

}
button{
    margin:10px;
    border:none;
    background-color: #2b2f35;
    color:white;
    border-radius: 2px;
    padding:12px;
}
